/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/************** FINAL *************************************/
body{
	padding: 20px;
}

.table_head{
	color: #0088CC;
	font-weight: bold;
}
/*************** FINAL ************************************/
.menu_bar{
	padding: 20px 0px;
}

.menu_bar ul{
	margin: 0px;
	padding: 0px;
}

.menu_bar ul li{
	display: inline-block;
	border: 1px solid #EEE;
}

.menu_bar ul li a{
	min-width: 120px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 1.1em;
}

.menu_bar ul li a:hover{
	background-color: #0088CC;
}

.k_modal{
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #AAA;
	box-shadow: 0px 12px 87px #888;
}

.k_modal_title{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #c9c9c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#c9c9c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#c9c9c9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#c9c9c9 100%); /* W3C */
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
}

.k_modal form{
	padding: 10px;
	margin: 0px;
}