%h1 Categories
= link_to 'New Category', new_category_path
%br
%br
.row-fluid
  .span3.table_head Parent
  .span3.table_head Name
  .span2.table_head Active
  .span3.table_head Note
  .span1.table_head

- @categories.each do |category|
  .row-fluid{class: "data_row", data: {target: "row_#{category.id}"}}
    = render partial: 'category_row_view', locals: {category: category}  

