= javascript_include_tag "/assets/accounts.js"

%h1 Accounts
= link_to 'New Account', new_account_path
%br
%br

.row-fluid
  .span2.table_head Name
  .span2.table_head Account type
  .span2.table_head Currency    
  .span2.table_head Balance
  .span1.table_head Active
  .span2.table_head Note
  .span1.table_head

- @accounts.each do |account|
  .row-fluid{data: {target: "row_#{account.id}"}}
    = render partial: 'modularized/account_row_view', locals: {account: account}